<h2><%= @shelter.name %></h2>

<section id="data">
  <h3>Statistics</h3>
  <div id="adoptable">
    <h5>Adoptable Pets</h5>
    <strong>Average Age: <%= @shelter.adoptable_avg_age.round(1) %></strong><br>
    <strong><%= @shelter.adoptable_count %> pets ready to be adopted!</strong>
  </div>
  <div id="adopted">
    <h5>Adoption Counter</h5>
    <strong><%= @shelter.number_adopted %> Pets Saved</strong>
  </div>
</section>

<section id="action-area">
  <h3>Dashboard</h3>
    <%= @shelter.pets_not_reviewed.each do |pet| %>
      <div id="pet-<%= pet.id %>">
        <%= link_to pet.name, "/admins/applications/#{2}" %>
      </div>
    <% end %>
</section>
